<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.sinopec.device.dal.mapper.DeviceDetailsMapper">

    <select id="selectListBySiteId"
            parameterType="java.lang.Integer"
            resultType="cn.iocoder.yudao.module.sinopec.device.dal.dataobject.DeviceDetailsDO">
        SELECT
            id,
            site_id AS siteId,
            equipment_serial_no AS equipmentSerialNo,
            equipment_type AS equipmentType,
            state AS stateCode,
            task_id AS taskId,
            task_name AS taskName,
            power,
            ip_address AS ipAddress,
            longitude,
            latitude,
            report_time AS reportTime,
            created_time AS createTime,
            updated_time AS updateTime
        FROM device_details
        WHERE site_id = #{siteId}
    </select>

    <select id="selectByEquipmentSerialNo"
            parameterType="java.lang.String"
            resultType="cn.iocoder.yudao.module.sinopec.device.dal.dataobject.DeviceDetailsDO">
        SELECT
            id,
            site_id AS siteId,
            equipment_serial_no AS equipmentSerialNo,
            equipment_type AS equipmentType,
            state AS stateCode,
            task_id AS taskId,
            task_name AS taskName,
            power,
            ip_address AS ipAddress,
            longitude,
            latitude,
            report_time AS reportTime,
            created_time AS createTime,
            updated_time AS updateTime
        FROM device_details
        WHERE equipment_serial_no = #{equipmentSerialNo}
        LIMIT 1
    </select>

</mapper>
