<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.sinopec.device.dal.mapper.EquipmentBusinessDynamicsMapper">

    <select id="selectListBySiteId"
            parameterType="java.lang.Integer"
            resultType="cn.iocoder.yudao.module.sinopec.device.dal.dataobject.EquipmentBusinessDynamicsDO">
        SELECT
            id,
            site_id AS siteId,
            equipment_serial_no AS equipmentSerialNo,
            equipment_name AS equipmentName,
            equipment_type AS equipmentType,
            model,
            created_time AS createTime,
            updated_time AS updateTime
        FROM equipment_business_dynamics
        WHERE site_id = #{siteId}
    </select>

</mapper>
